*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.container {
    margin: 3rem;
    border-radius: 20px;
}

#form-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    padding: 5rem;
    bottom: 0;
    top:0;
    left:0;
    background: white;
    text-align: center;
    z-index: 1000;
    transform: translateY(100vh);
    transition: transform 0.3s;
}

.btn {
    margin: 1rem auto;
}

#btnAdd {
  background-color: #0821db;
  border-color: #0821db;
  color: #fff
}

#btnSubmit {
  background-color: #0821db;
  border-color: #0821db;
  color: #fff
}

#btnClosePopup {
  background-color: #db086d;
  border-color: #db086d;
  color: #fff
}

.icon-edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' version='1.1' x='0px' y='0px' fill='%230821db' width='30px' height='30px'%3E%3Cg transform='translate(0,-290.65039)' style='' display='inline'%3E%3Cpath style='color:%230821db;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%230821db;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%230821db;solid-opacity:1;vector-effect:none;fill:%230821db;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%230821db;stop-opacity:1' d='m 8.3223389,301.19744 a 1.0001,1.0001 0 0 0 -0.2817297,0.56623 l -0.613203,4.32274 a 1.0001,1.0001 0 0 0 1.1089817,1.13387 l 4.2205421,-0.50823 a 1.0001,1.0001 0 0 0 0.586959,-0.28588 l 8.072327,-8.07234 c 0.767102,-0.76709 0.767091,-2.042 1e-5,-2.8091 l -2.31605,-2.31605 c -0.767087,-0.76708 -2.041997,-0.76708 -2.809088,10e-6 z m 1.6503887,1.17805 7.7229204,-7.72293 2.296711,2.29671 -7.818218,7.81823 -2.5839702,0.31073 z'/%3E%3Cpath style='color:%230821db;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%230821db;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%230821db;solid-opacity:1;vector-effect:none;fill:%230821db;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%230821db;stop-opacity:1' d='m 5,292.65039 c -1.6447028,0 -3,1.3553 -3,3 v 14 c 0,1.6447 1.3552972,3 3,3 h 14 c 1.644703,0 3,-1.3553 3,-3 v -6 a 1,1 0 0 0 -1,-1 1,1 0 0 0 -1,1 v 6 c 0,0.5713 -0.428703,1 -1,1 H 5 c -0.5712972,0 -1,-0.4287 -1,-1 v -14 c 0,-0.5713 0.4287028,-1 1,-1 h 5 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}

.icon-delete {
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' version='1.1' x='0px' y='0px' width='30px' height='30px'%3E%3Cg transform='translate(0,-290.65039)' style='' display='inline'%3E%3Cpath style='color:%23db086d;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23db086d;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23db086d;solid-opacity:1;vector-effect:none;fill:%23db086d;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23db086d;stop-opacity:1' d='m 12,292.65039 c -5.5110029,0 -10,4.489 -10,10 0,5.511 4.4889971,10 10,10 5.511003,0 10,-4.489 10,-10 0,-5.511 -4.488997,-10 -10,-10 z m 0,2 c 4.430123,0 8,3.56988 8,8 0,4.43012 -3.569877,8 -8,8 -4.4301226,0 -8,-3.56988 -8,-8 0,-4.43012 3.5698774,-8 8,-8 z'/%3E%3Cpath style='color:%23db086d;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23db086d;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23db086d;solid-opacity:1;vector-effect:none;fill:%23db086d;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23db086d;stop-opacity:1' d='m 128.29297,128.29297 c -0.39042,0.39051 -0.39042,1.02355 0,1.41406 l 2.29297,2.29297 -2.29297,2.29297 c -0.39042,0.39051 -0.39042,1.02355 0,1.41406 0.39051,0.39042 1.02355,0.39042 1.41406,0 L 132,133.41406 l 2.29297,2.29297 c 0.39051,0.39042 1.02355,0.39042 1.41406,0 0.39042,-0.39051 0.39042,-1.02355 0,-1.41406 L 133.41406,132 l 2.29297,-2.29297 c 0.39042,-0.39051 0.39042,-1.02355 0,-1.41406 -0.42065,-0.41613 -1.06662,-0.3519 -1.41406,0 L 132,130.58594 l -2.29297,-2.29297 c -0.43038,-0.43466 -1.00697,-0.37447 -1.41406,0 z' transform='translate(-120,170.65)'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}

#header-container {
    padding: 2rem 0;
    margin: 0;
    color: #0821db;
    font-family: 'Ranchers', cursive
}

#header-container .logo-img {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 80' x='0px' y='0px' fill='%230821db'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M32,4c-5,0-9,3.59-9,8v6H14a2,2,0,0,0-2,1.79l-4,38A2,2,0,0,0,10,60H54a2,2,0,0,0,2-2.21l-4-38A2,2,0,0,0,50,18H41V12C41,7.59,37,4,32,4Zm-5,8c0-2.21,2.24-4,5-4s5,1.79,5,4v6H27ZM48.2,22l3.58,34H12.22L15.8,22H23v4a2,2,0,0,0,4,0V22H37v4a2,2,0,0,0,4,0V22Z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  display: block
}

#header-container h2 {
    font-size: 2rem;
}
@media only screen and (max-width: 650px) {
  #form-container {
    padding-left: 1rem;
    padding-right: 1rem
  }
}
